@if (readyToCompare) {
<p>{{ userOne.handle }}'s Current Rating : {{ userOne.rating }}</p>
<p>{{ userTwo.handle }}'s Current Rating : {{ userTwo.rating }}</p>

<table>
  <tr>
    <th>Problem Rating</th>
    <th>Solved Count of {{ userOne.handle }} ({{ userOne.rating }})</th>
    <th>Solved Count of {{ userTwo.handle }} ({{ userTwo.rating }})</th>
  </tr>
  @for (item of difficulties; track $index) {
  @if(userOneProblemRatingFrequency[item] &&
  userTwoProblemRatingFrequency[item]) {
  @if((userOneProblemRatingFrequency[item] != 0) ||
  (userTwoProblemRatingFrequency[item] != 0)) {
  <tr>
    <td>{{ item }}</td>
    <td>{{ userOneProblemRatingFrequency[item] }}</td>
    <td>{{ userTwoProblemRatingFrequency[item] }}</td>
  </tr>
  } } }
</table>
}
